.tab{
    margin-right: auto;
    margin-left: auto;
    padding-top: 1vh;
    padding-bottom: 1vh;
    width: 100%;
    overflow: hidden;
    height: 3vh;
    transition: height 0.5s, background-color 0.5s;
    background-color: rgba(0, 0, 0, 0.1);
}

.tab.open{
    height: 68vh;
    background-color: rgba(0, 0, 0, 0.8);
}

.tab.full{
    height: 100vh;
}

.tab-title-box{
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.binary{
    margin-left: 42%;
}

.tab-title{
    margin-right: 42%;
}

h1{
    font-family: "Source Code Pro", Tahoma;
    font-size: x-large;
    color: white;
}

h2{
    font-family: "Source Code Pro", Tahoma;
    font-size: larger;
    color: white;
    align-self: center;
    padding: 1rem 0 1rem 0;
}

#myCanvas{
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: rgb(34, 34, 34);
}

.title-name{
    text-align: center;
    padding-top: 20%;
    padding-bottom: 20%;
    font-size: 1%;
    transition: font-size 2s;
}

.title-name-animation{
    font-size: 500%;
}

#about-me-picture{
    width: 29rem;
    height: 29rem;
    border-radius: 100%;
    object-fit: cover;
}

.tab-body{
    display: grid;
    margin: 5rem 2rem 2rem 2rem;
    column-gap: 1rem;
}

.tab-body.about{
    grid-template-columns: 1fr 3fr;
}

.tab-body.experience{
    grid-template-columns: 1fr 1fr;
}

.tab-body.skills{
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 1rem;
    padding-left: 1rem;
}

p, li{
    font-family: "Source Code Pro", Tahoma;
    color: white;
}

.large-p{
    font-size: xx-large;
}

.work-box{
    display: flex;
    flex-direction: column;
    border-right: 0.1rem white solid;
    border-left: 0.1rem white solid;
}

.work-box-list{
    list-style-type: square;
    align-self: center;
    margin: 0 10rem 0 10rem;
}

.work-box-list li{
    padding: 0.5rem;
}

#wackerly-logo{
    height: 10rem;
    width: auto;
}

#ats-logo{
    height: 10rem;
    width: 10rem;
    align-self: center;
}

i{
    font-size: 4rem;
    color: #00aeb6;
    display: inline;
}