.tab{
    margin-right: auto;
    margin-left: auto;
    padding-top: 1vh;
    padding-bottom: 1vh;
    width: 100%;
    overflow: hidden;
    height: 3vh;
    transition: height 0.5s, background-color 0.5s;
    background-color: rgba(0, 0, 0, 0.1);
}

.tab.open{
    height: 68vh;
    background-color: rgba(0, 0, 0, 0.8);
}

.tab-title-box{
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.binary{
    margin-left: 42%;
}

.tab-title{
    margin-right: 42%;
}

h1{
    font-family: "Source Code Pro", Tahoma;
    font-size: x-large;
    color: white;
}

#myCanvas{
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: rgb(34, 34, 34);
}