.tab{
    margin-right: auto;
    margin-left: auto;
    padding-top: 1vh;
    padding-bottom: 1vh;
    width: 100%;
    overflow: hidden;
    height: 3vh;
    transition: height 0.5s;
}

.tab.open{
    height: 68vh;
}

.tab-title-box{
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.binary{
    margin-left: 42%;
}

.tab-title{
    margin-right: 42%;
}

h1{
    font-family: "Source Code Pro", Tahoma;
    font-size: x-large;
}

#name{
    background-color: aqua;
}

#about{
    background-color: brown;
}

#experience{
    background-color: bisque;
}

#skills{
    background-color: chocolate;
}

#projects{
    background-color: crimson;
}

#competitions{
    background-color: chartreuse;
}

#contact{
    background-color: cornsilk;
}

